[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-migrate = "*"
sqlalchemy-serializer = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
pyjwt = "*"
flask-jwt-extended = "*"
werkzeug = "*"
flask-cors = "*"
python-dotenv = "*"
email-validator = "*"
flask-bcrypt = "*"
flask-restful = "*"
twilio = "*"

[dev-packages]

[requires]
python_version = "3.12"
